:root{
    --headerBackground:rgb(22, 165, 221);
    --blue:rgb(0, 155, 245);
}

.LandingPage{
    padding:none;
    margin:none;
    width:100vw;
    height:100vh;
    background-color:rgb(252, 252, 252);
}
    .header{
        font-family: 'Rajdhani', sans-serif;

        position:absolute;
        
        margin:0;
        height: 50vh;
        width:100vw;
        background:url(../../resources/background/peak.jpg) no-repeat;
        background-size: cover;
        background-position: center;

     

    }
        .name{
            display:inline;
            font-weight: 900;
            font-size:50px;
            margin:50px 0 0 50px;
            padding:0;

            width: 300px;
            cursor:pointer;
        }
        .header ul{
            list-style: none;
            position:absolute;
            top:0px;
            left:50%;
            transform:translateX(-50%);
            width:70vw;

            text-align: center;
        }
            .header li{
                display:inline-block;
                margin:0px 40px;
                font-weight: 500;
                font-size:20px;
                cursor:pointer;

            }
                .header li:hover{
                    text-decoration: underline;
                }
            
    .headerContainer{
        position:absolute;
    
        top:25vh;
        left:50%;
        transform:translate(-50%,-50%);

        text-align: center;

        width:80vw;
    }
    
        .headerContainer h1{
            font-size: 60px;
        }
        .headerContainer p{
            font-size:20px;
        }
        .headerContainer input{
            background:var(--blue);
            border: 1px solid var(--blue);
            border-radius: 20px;
            
            font-size: 20px;
            width:300px;
            
            padding:10px 0px 10px 0px;
            margin:5px 10px;

            cursor:pointer;
            
            transition: .3s;
        }
            .headerContainer input:hover{
                box-shadow: 0px 0px 5px var(--blue);
            }
